@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  color: #333333;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Georgia', 'Palatino', serif;
  font-weight: 700;
}